#build folder
build/
components/mongoose/examples
components/mongoose/docs

#generated header files
wifiaccess.h
main/fontwoff.h
main/fontsvg.h
main/fontttf.h
main/fonteot.h
main/indexhtml.h
main/wavdata.h
sdkconfig.old
parked

#go
go/pkg
go/bin
go/src/go*
go/src/git*
go/src/source*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.settings/language.settings.xml
